snippet panel
<div class="panel panel-default">
  <div class="panel-heading">
	  <h3 class="panel-title">$1</h3>
	</div>
	<div class="panel-body">
    $0	
	</div>
</div>	
endsnippet

snippet <
<$1>$0</$1>
endsnippet

snippet <!
<!-- $0 -->
endsnippet

snippet =
<%= $0 %>
endsnippet

snippet %
<% $0 %>
endsnippet

snippet end
<% end %>
endsnippet
