snippet html
<html>
  <head>

    <title>$1</title>

  </head>
  <body>
	$0
  </body>
</html>
endsnippet

snippet script
<script type='text/javascript'>
</script>
endsnippet

snippet style
<style type='text/css'>
</style>
endsnippet

snippet div
<div class="$1">
  $0
</div>
endsnippet

snippet <
<$1>
  $0
</$1>
endsnippet
