snippet fmatter
---
title: ${1:A Blog Post}
date: ${2:`date +%Y-%m-%d`}
tags: $3
---
$0
endsnippet

snippet todo
# `date +%Y-%m-%d`

$0
endsnippet

snippet --
- [ ] $0
endsnippet

snippet date
`date +%Y-%m-%d`
endsnippet
