snippet bl
\`\`\`{r}
$0
\`\`\`
endsnippet

snippet rmd
---
title: $1
date: ${2:`date +%Y-%m-%d`}
author: ${3:`whoami`}
---

## Load Requirements

\`\`\`{r}
library(knitr)
library(ggplot2)
library(ggthemr)
library(magrittr)
library(dplyr)
ggthemr('fresh')
\`\`\`

\`\`\`{r}
dat <- read.csv($0)
\`\`\`
endsnippet
