snippet qsub
#!/bin/bash

#PBS -q default
#PBS -M adavisr@ufl.edu
#PBS -m abe
#PBS -l pmem=512Mb
#PBS -l walltime=100:00:00
#PBS -l nodes=1:ppn=48
#PBS -N $1
#PBS -j oe

set -e

cd $PBS_O_WORKDIR

INPUT="${PBS_JOBNAME}"

$0
endsnippet

snippet script
#!/bin/bash

set -euo pipefail
endsnippet
