[alias]
  c = commit -m
  a = add
[color]
	ui = true
[user]
	name = Austin Richardson
	email = accounts@agdr.org
	signingkey = /Users/audy/.ssh/id_rsa.pub
[github]
	user = audy
[core]
	excludesfile = /Users/austin/.gitignore
	quotepath = false
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[ghi]
	token = !security find-internet-password -a audy -s github.com -l 'ghi token' -w
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	default = current
[push]
	default = current
[gpg]
	format = ssh
[credential "https://github.com"]
	helper = 
	helper = !gh auth git-credential
